html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

*, ::after, ::before {
    box-sizing: inherit;
} 
body {
    background-color: #eee;
}

.container {
    width: 100%;
    max-width: 1000px;
    padding: 50px;
    margin: 0 auto;
}