.todo {
    padding: 10px 20px;
}

.todo__new {
    padding: 10px;
    margin: 10px 0;
}

.todo__list {
    padding: 10px;
    margin: 10px 0;
}

.todo__title {
    margin: 0 0 3px;
    padding: 20px 30px;
    background-color: white;
    flex-grow: 1;
}
@media (max-width: 768px){
    .todo__title {
        font-size: 22px;
    }
}
.todo__header {
    display: flex;
    margin: 0 0 3px;
    background-color: white;
}
.todo__doneButton {
    align-self: center;
    padding: 5px;
    margin: 10px;
    border: none;
    background-color: transparent;
    color: hsl(180, 66%, 28%);
    font-size: 18px;
    transition: color .2s;
}
.todo__doneButton:hover {
    color: hsl(180, 66%, 20%);
    cursor: pointer;
}

.todo__tasks {
    min-height: 100px;
    background-color: white;
}

.todo__form {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    padding: 30px;
}

.todo__input {
    flex-grow: 5;
    margin: 5px;
    padding: 5px 5px 5px 10px;
}

.todo__submit {

    flex-grow: 1;
    padding: 10px;
    margin: 5px;
    background-color: teal;
    border: none;
    color: white;
    font-size: 16px;
    transition: .3s;
}
@media (max-width: 768px) {
    .todo__input {
        width: 100%;
    }
    
    .todo__submit {
        width: 100%;
    }
}

.todo__submit:hover {
    cursor: pointer;
    color: #ddd;
    transform: scale(1.05)
}

.todo__submit:active {
    color: black;
    outline: none;
}

.todo__ul {
    padding: 30px;
    margin: 0;
    list-style: none;
}
@media (max-width: 768px){
    .todo__ul {
        padding: 5px;
    }
}

.todo__task {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
    margin: 10px;
    border-bottom: 1px solid #ccc;
}

.todo__button {
    flex-shrink: 0;
    flex-basis: 40px;
    align-self: center;
    height: 40px;
    padding: 10px;
    border: none;
    outline: none;
    transition: .3s;
}
@media (max-width: 400px){
    .todo__button {
        flex-basis: 30px;
        height: 30px;
        font-size: 10px;
    }
}
.todo__button:focus {
    outline: solid black 1px;
}
.todo__button:hover {
    cursor: pointer;

}
.todo__button--check {
    background-color: rgb(5, 104, 10);
}
.todo__button--remove {
    background-color: rgb(104, 5, 5);
}
.todo__button--check:hover {
    background-color: hsl(123, 91%, 25%);
}
.todo__button--remove:hover {
    background-color: hsl(0, 91%, 25%);
}
@media (max-width: 400px){
    .todo__button--remove {
        font-size: 12px;
    }
}
.todo__button--remove:active {
    color: #333333;
}
.todo__span {
    text-align: justify;
    padding: 5px 20px;
    flex-grow: 1;
    line-break: anywhere;
}

@media (max-width: 768px){
    .todo__span {
        padding: 10px;
    }
}
.todo__span--done {
    text-decoration: line-through;
    font-style: italic;
}
.todo__empty {
    font-style: italic;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
}
@media (max-width: 400px){
    .todo__empty {
        font-size: 12px;
        margin-top: 20px;

    }
}
